.song-cover-img-preview
{
    border: 0;
    box-shadow: 0px 1px 14px -3px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 1px 14px -3px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 1px 14px -3px rgba(255,255,255,0.75);
}

.btn-upload-img
{
    background-color: white;
    color: black;
    border: 0;
    padding: 10px 14px;
    transition: 0.2s;
}

.btn-upload-img:hover
{
    background-color: #1877f2;
    color: white
}

.form-group
{
    width: 75%;
}

@media screen and (min-width: 1201px) {
    .song-cover-img-preview
    {
        width: 256px;
        height: 256px;
    }
}

@media screen and (max-width: 1200px) {
    .song-cover-img-preview
    {
        width: 192px;
        height: 192px;
    }
}


@media screen and (max-width: 992px) {
    .song-cover-img-preview
    {
        width: 160px;
        height: 160px;
    }
}

@media screen and (max-width: 768px) {
    .song-cover-img-preview
    {
        width: 100px;
        height: 100px;
    }
}