.song-editor-popup
{
    transition: 1s;
    position: fixed;
    z-index: 2;
    top: 30%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -30%);
    background-color: rgba(41, 41, 41, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 30px;
    backdrop-filter: blur(5px);
    overflow: scroll;
    overflow-x: hidden;
    max-height: calc(65vh + 100px);
}

.song-editor-popup .song-editor-close-btn
{
    position: absolute;
    right: 2%;
    top: 5%;
}

#closeButton
{
    font-size: 16px;
}

@media screen and (max-width: 425px) {
    .song-editor-popup
    {
        width: 90%;
    }
}