.form-container
{
    margin: 120px 0;
}

.separator
{
    text-align: left;
}
.separator hr
{
    width: 50%;
    margin: 16px 10px;
    color: white;
}
#separatorText
{
    margin-top: 5px;
    color: rgb(255, 255, 255);
}