.form-content label
{
    margin-left: 5px;
    color: white;
}

.form-group
{
    text-align: left;
}

.form-group input, .form-group select
{
    padding: 12px 14px;
    border: 0;
    width: 100%;
}

.form-group a, .form-check a
{
    text-decoration: none;
}

.btn-submit
{
    padding: 12px 40px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    transition: 0.2s;
}

.btn-submit:hover
{
    background-color: #1da1f2;
}

.btn-submit:active, .btn-submit:focus
{
    background-color: #1da1f2;
}

.password-container
{
    position: relative;
}

#togglePassword
{
    background: none;
    border: 0;
    position: absolute;
    top: 50%;
    right: 2%;
}

.btn-user-avail
{
    padding: 10px 14px;
    margin-top: 12px;
    border: 0;
    border-radius: 5px;
    transition: 0.2s;
}

.btn-user-avail:hover
{
    background-color: #1da1f2;
    color: white;
}

.btn-user-avail:active
{
    background-color: #1da1f2;
    color: white;
}