.header
{
    background-color: black;
    color: white;
}

.navbar-brand
{
    
}

.navbar-brand h4
{
    margin: 8px 0 8px 8px;
}

.navbar-collapse
{
    width: min-content;
    display: none;
}

.search-bar-container {
    position: relative;
    padding-left: 200px;
    padding-right:  20px ;

}

.search-bar-container .search-icon {
    position: absolute;
    top: 30%;
    left: 37%;

}

.search-bar-container input,
.search-bar-container input:focus {
    background-color: #7e7e7e;
    border: 0;
    padding: 12px 14px;
    width: 100%; /* Set the initial width to 100% */
    box-sizing: border-box; /* Include padding and border in the width */
}

.search-bar-container input::placeholder {
    padding-left: px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .search-bar-container input,
    .search-bar-container input:focus {
        width: 80%; /* Reduce the width for smaller screens */
    }
}

/* Additional media queries for even smaller screens if needed */
@media (max-width: 480px) {
    .search-bar-container input,
    .search-bar-container input:focus {
        display: none;
        width: 60%; /* Further reduce the width for very small screens */
    }
}