.nav-signup-btn
{
    padding: 8px 14px;
    background-color: #585757;
    margin: 0 12px;
}

.nav-signup-btn:hover
{
    color: black;
    background-color: white;
}

.nav-signup-btn .link
{
    color: white;
}

.nav-signup-btn:hover .link
{
    color: black;
}

.nav-login-btn
{
    padding: 8px 14px;
    background-color: #efeded;
    margin: 0 12px;
}

.nav-login-btn .link
{
    color: black;
}

.nav-login-btn:hover 
{
    background-color: #1da1f2;
}

.nav-login-btn:hover .link
{
    color: white;
}

.user-dropdown-menu a:hover{
    background-color: gray;
}

.navbar-container-right {
    flex-direction: row;
}

@media screen and (min-width: 768px){
    .navbar-container-right{
            margin-left: 3rem;
    }
}

@media screen and (max-width: 992px) {
    .navbar-container-right {
        flex-direction: column;
        align-items: center;
    }

    .search-bar-container {
        margin-bottom: 10px;
        /* Add some spacing between the search bar and other items */
    }

    .search-icon {
        margin-bottom: 10px;
        /* Optional: Adjust the search icon position */
    }

    .material-symbols-outlined {
        margin-top: 10px;
        /* Optional: Adjust the icon's position */
    }
}