.dropdown-container
{
    position: relative;
    background-color: #7e7e7e;
    padding: 5px 10px;
    border-radius: 5px;
}

.user-dropdown-menu.dropdown-menu
{
    position: absolute;
    left: -25%;
    background-color: black;
    /* text-align: center; */
    border-radius: 5px;
}

.user-dropdown-menu .dropdown-item
{
    padding: 10px 14px;
    
}

.dropdown-menu-row:hover
{
    background-color: #7e7e7e;
}

.logout-button
{
    /* border-radius: 0 0 5px 5px; */
    background-color: rgb(212, 61, 61);
}

.logout-button:hover, .logout-button:hover .dropdown-item
{
    background-color: rgb(247, 106, 106);
}

.dropdown-hr
{
    width: 85%;
}

.dropdown-footer
{
    padding: 10px 14px;
    font-size: 12px;
}

.dropdown-item.active {
    background-color: transparent;
}